body {
background-color: rgb(241, 245, 238);
}
.main{
    h1{
        text-align: center;
        text-size-adjust: auto;
        font-size: 50px;
        color:rgb(32, 20, 6);
    }
    p{
        text-align: center;
        text-size-adjust: auto;
        font-size: 30px;
        color:brown;
    }
}
    .introduction {
    h1 {
        text-align: center;
        text-size-adjust: auto;
        font-size: 30px;
        color:rgb(13, 3, 22)
    }
    h2 {
        text-align: left;
        font-size: 35px;
        color:crimson;
    }
    h3 {
        text-align: left;
        font-size: 35px;
        color:crimson;
    }
    p {
        text-align: center;
        font-size: 25px;
    }
    li {
        list-style-type: square;
        font-size: 25px;
        text-align: center;
        line-height: 150%;
        color: blue; 
    }
}
    .charecter {
    h1 {
    text-align: center;
    font-size: 30px;
    color:black;
    } 
    p {
        color: green;
    }
    li {
        text-align: center;
        font-size: 25px;
        color: crimson;
        list-style: decimal;
        line-height: 100px;
        
    }

    }
    
.levels{
     text-align: left;
        font-size: 25px;
    h1 {
        color:black;
        text-align: center; 
        font-size: 30px;
    }
    li {
        color:blue;
        text-align: center;
        font-size: 25px;
        line-height: 400% ;
        
    }
}
.race h1{
    font-size: 30px;
        text-align:center;
        color: #1a0202;
}
.race ul {
    text-align: left;
    font-size: 30px;
    color: rgb(190, 8, 251);
    list-style: square;
}
.race ol {
     text-align: center;
     font-size: 25px;
     color: red;
     line-height: 400%;
}
.para_human p {
    text-align: left;
    font-size: 27px;
    line-height: 150%;
    color: blue;

}
.para_fullbringer p {
    text-align: left;
    font-size: 27px;
    line-height: 150%;
    color: blue;
}
.para_quincy p {
    text-align: left;
    font-size: 27px;
    line-height: 150%;
    color: blue;
}
.para_bount p {
    text-align: left;
    font-size: 27px;
    line-height: 150%;
    color: blue;
}
.para_plus p {
     text-align: left;
    font-size: 27px;
    line-height: 150%;
    color: blue;
}
.para_shinigami p {
  text-align: left;
    font-size: 27px;
    line-height: 150%;
    color: blue;
}
.para_visored p {
 text-align: left;
    font-size: 27px;
    line-height: 150%;
    color: blue;
}
.para_visored p {
 text-align: left;
    font-size: 27px;
    line-height: 150%;
    color: blue;
}
.para_arrancar p {
 text-align: left;
    font-size: 27px;
    line-height: 150%;
    color: blue;
}
.para_hollow p {
 text-align: left;
    font-size: 27px;
    line-height: 150%;
    color: blue;
}
.para_zanpakto p {
 text-align: left;
    font-size: 27px;
    line-height: 150%;
    color: blue;
}
.para_toju p {
 text-align: left;
    font-size: 27px;
    line-height: 150%;
    color: blue;
}
.para_gikon p {
 text-align: left;
    font-size: 27px;
    line-height: 150%;
    color: blue;
}
.para_kush p {
 text-align: left;
    font-size: 27px;
    line-height: 150%;
    color: blue;
}
.para_modi p {
 text-align: left;
    font-size: 27px;
    line-height: 150%;
    color: blue;
}
.para_being p {
 text-align: left;
    font-size: 27px;
    line-height: 150%;
    color: blue;
}